body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0;
}

.header-left {
    display: flex;
    align-items: center;
}

#menu-icon {
    font-size: 20px;
    margin-right: 10px;
}

.header-left img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.search-input {
    width: 350px;
    margin-left: 50px;
}
.search-button {
    padding: 10px;
    margin-left: -7px;
    height: 37px;
    background-color: #e6e6e7;
    color: #1f1e1e;
    width: 70px;
    font-weight: bold;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input:hover {
    border: 1px solid #1f1e1e;
}

input:focus {
    border: 2px solid #36c;
}

button {
    padding: 10px;
    background-color: #36c;
    color: #fff;
    border: none;
    cursor: pointer;
}

.help-log {
    margin-left: 85px;
    color: #36c;
}

.help-log-2 {
    margin-left: 75px;
    color: #36c;
}

.btn-login {
    width: 324px;
    border-radius: 3px;
}

.btn-kiri-logo {
    background-color: #fff;
    color: #000;
}

button:hover {
    background-color: #0056b3;
}

.header-right a {
    margin-left: 10px;
    color: #36c;
    text-decoration: none;
}

.header-right a:hover {
    text-decoration: underline;
}

.form {
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    justify-content: center;
    align-items: center;
}

.checkbox {
    margin-top: -3px;
    position: absolute;
    margin-left: 15%;
    left: 0;
    appearance: none;
    width: 20px;
    height: 20px;
}

.tahan {
    margin-left: 30px;
    margin-top: 100px;
}

.header-form {
    margin-bottom: -15px;
    font-family: 'Times New Roman', Times, serif;
}

.main-form {
    margin-top: 20px;
}

h1 {
    font-weight: normal;
}

h3 {
    margin-right: 10px;
    text-align: right;
    font-size: small;
    font-weight: normal;
}

.img-org {
    height: 100px;
    width: 100px;
    opacity: 0.4;
    margin-left: 110px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #container {
    width: 100%;
    margin: 0 auto;
  }
  
  /* Mengatur posisi, ukuran, warna, dan gaya huruf elemen h3 */
  h3 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #222222;
    font-style: italic;
  }
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 1px;
  }
  
  #logo {
    width: 5%;
  }
  
  #logo img {
    width: 100%;
  }
  
  #search {
    width: 40%;
  }
  
  #search input {
    width: 80%;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  #search button {
    width: 15%;
    border: none;
    background-color: #36c;
    color: white;
    padding: 5px;
  }
  
  #menu {
    width: 40%;
  }
  
  #menu ul {
    display: flex;
    list-style: none;
  }
  
  #menu ul li {
    margin: 0 10px;
  }
  
  #menu ul li a {
    text-decoration: none;
    color: #36c;
  }
  
  #content {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  #intro {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #intro h1 {
    font-size: 24px;
    color: #36c;
  }
  
  #intro p {
    font-size: 16px;
    color: #333;
  }
  
  #featured {
    display: flex;
    margin-top: 20px;
  }
  
  #featured h2 {
    font-size: 20px;
    color: #36c;
  }
  
  #featured-image {
    width: 40%;
  }
  
  #featured-image img {
    width: 100%;
  }
  
  #featured-text {
    width: 60%;
    padding: 10px;
  }
  
  #featured-text p {
    font-size: 16px;
    color: #333;
  }
  
  #featured-text p a {
    text-decoration: none;
    color: #36c;
  }
  
  #news {
    margin-top: 20px;
  }
  
  #news h2 {
    font-size: 20px;
    color: #36c;
  }
  
  #news ul {
    list-style: none;
  }
  
  #news ul li {
    margin: 10px 0;
  }
  
  #news ul li a {
    text-decoration: none;
    color: #36c;
  }
  
  #footer {
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    padding: 10px;
  }
  
  #footer p {
    font-size: 14px;
    color: #333;
  }
  
  #footer p a {
    text-decoration: none;
    color: #36c;
  }
  
  
  
  .mw-parser-output
   .mp-header{border-radius:10px;border:1px solid #a7d7f9;
    background:url("//upload.wikimedia.org/wikipedia/commons/1/10/Wikipedia-logo-v2-200px-transparent.png");
    background-repeat:no-repeat;
    background-position:-40px -15px;
    vertical-align:top}
    .mw-parser-output 
    .mp-header__main{
      display:flex;
      font-size:95%;
      margin-top:2px;
      margin-bottom:2px}
      .mw-parser-output 
      .mp-header__welcome{
        margin-left:155px;
        flex:1;
        margin-top:2px;
        margin-bottom:2px}
        .mw-parser-output .mp-header__statistics{
          flex:0 1 auto;
          padding:1em;
          text-align:right;
          line-height:1.3
        }.mw-parser-output .mp-header__welcome-hero{
          font-size:185%
        }.mw-parser-output .mp-header__welcome-subtitle{
          padding-left:8px
        }.mw-parser-output .mp-header__portal{
          text-align:center;
          margin-top:2px;
          margin-bottom:2px
        }.mw-parser-output .mp-main-content,.mw-parser-output .mp-main-content__focus,.mw-parser-output .mp-main-content__other{
          display:block;
          width:100%;
          padding:0
        }@media all and (min-width:800px){
          body:not(.skin-minerva) .mw-parser-output .mp-main-content{
            margin-top:10px;
            display:flex
          }body:not(.skin-minerva) .mw-parser-output .mp-main-content__focus{flex:1 1 55%;
            border:1px solid #a7d7f9;
            vertical-align:top;
            color:#000;
            padding:0 10px 10px 0;
            border-radius:10px
          }body:not(.skin-minerva) .mw-parser-output .mp-main-content__other{flex:1 1 45%;
            border:1px solid #a7d7f9;
            vertical-align:top;
            padding:0 10px 10px 0;
            background:#f5faff;
            border-radius:10px;
            margin-left:10px}
          }body.skin-minerva .mw-parser-output .mp-main-content__focus,body.skin-minerva .mw-parser-output .mp-main-content__other{border:none}
          .mw-parser-output .mp-footer{margin:12px 0 0 0;color:#000;padding:5px}
          .mw-parser-output .mp-footer__main{border:1px solid #a7d7f9;border-radius:10px}
          .mw-parser-output .mp-footer__title{text-align:center;margin-bottom:5px}
          .mw-parser-output .mp-footer__subtitle{font-size:85%;text-align:center}
          .mw-parser-output .mp-footer__contact-us{margin-top:10px;text-align:center}
          .mw-parser-output .mp-content-box{margin-top:10px}
          .mw-parser-output .mp-content-box__header{position:relative;
            background-image:url("//upload.wikimedia.org/wikipedia/commons/4/46/Bluebg_rounded.png");
            left:4px;top:2px;margin:0;height:25px;background-repeat:no-repeat;overflow:visible;border:none
          }.mw-parser-output .mp-content-box .mp-content-box__header::after{border:none}
          .mw-parser-output .mp-content-box__header-icon{position:absolute;left:5px;top:-6px}
          .mw-parser-output .mp-content-box__header-text{position:absolute;left:40px;top:2px;margin-top:0;color:black;font-weight:bold;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;border-bottom:none;padding:0.15em 0.4em}
          .mw-parser-output .mp-content-box__header .mp-content-box__header-text{font-size:1rem}
          .mw-parser-output .mp-content-box__content{padding-left:10px;padding-bottom:5px;padding-top:12px}
          .mw-parser-output .mp-content-box__footer{text-align:right}
          .mw-parser-output .mp-content-box-other{margin-top:10px}
          .mw-parser-output .mp-content-box-other__header{position:relative;left:8px;top:2px;background:#c6defe;height:25px;margin:0 10px 0 0;border-radius:8px;overflow:visible;border:none}
          .mw-parser-output .mp-content-box-other .mp-content-box-other__header::after{border:none}
          .mw-parser-output .mp-content-box-other__header-icon{position:absolute;left:1px;top:-7px}
          .mw-parser-output .mp-content-box-other__header-text{position:absolute;left:40px;top:2px;margin:0;border-bottom:0;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-weight:bold;text-align:left;color:#000;padding:0.15em 0.4em}
          .mw-parser-output .mp-content-box-other__header .mp-content-box-other__header-text{font-size:1rem}
          .mw-parser-output .mp-content-box-other__content{margin:0 1em 1em 1em;padding-right:0;padding-top:12px}
          .mw-parser-output .mp-gambar-pilihan{width:100%;height:auto}@keyframes cauconfeti{from{opacity:0}50%{opacity:1}to{transform:translateY(100vh)}}
          @keyframes amaguemcontainer{from{visibility:visible}to{visibility:hidden}}
          .mw-parser-output .container-confeti{
            display:flex;
            max-width:100%;
            width:90%;
            height:100vh;
            z-index:1000;
            margin:0 auto;
            position:absolute;
            visibility:hidden;
            animation:amaguemcontainer;
            animation-duration:4s
          }.mw-parser-output .confeti{
            position:absolute;
            width:10px;
            height:30px;
            top:0;
            opacity:0
          }.mw-parser-output .confeti:nth-child(odd){background:#E63946}
          .mw-parser-output .confeti:nth-child(2n){background:#84C318}
          .mw-parser-output .confeti:nth-child(4n-7){background:#73EEDC}
          .mw-parser-output .confeti:nth-child(1){
            left:5%;
            transform:rotate(-23deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:152ms;
            animation-duration:1000ms
          }.mw-parser-output .confeti:nth-child(2){
            left:12%;
            transform:rotate(35deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:200ms;
            animation-duration:1100ms
          }.mw-parser-output .confeti:nth-child(3){
            left:25%;
            transform:rotate(-23deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:146ms;
            animation-duration:1300ms
          }.mw-parser-output .confeti:nth-child(4){
            left:32%;
            transform:rotate(35deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:182ms;
            animation-duration:1500ms
          }.mw-parser-output .confeti:nth-child(5){
            left:45%;
            transform:rotate(-23deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:232ms;
            animation-duration:900ms
          }.mw-parser-output .confeti:nth-child(6){
            left:52%;transform:rotate(35deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:222ms;
            animation-duration:1300ms
          }.mw-parser-output .confeti:nth-child(7){
            left:65%;
            transform:rotate(-23deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:382ms;
            animation-duration:1200ms
          }.mw-parser-output .confeti:nth-child(8){
            left:73%;
            transform:rotate(35deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:122ms;
            animation-duration:1600ms
          }.mw-parser-output .confeti:nth-child(9){
            left:77%;
            transform:rotate(-23deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:152ms;
            animation-duration:1200ms
          }.mw-parser-output .confeti:nth-child(10){
            left:82%;transform:rotate(35deg);
            animation:cauconfeti 5 ease-in-out;
            animation-delay:282ms;
            animation-duration:700ms
          }.mw-parser-output .confeti:nth-child(3n){
            width:5px;
            height:60px;
            border-radius:15px;
            animation-duration:1200ms;
            animation-delay:1000ms
          }.mw-parser-output .confeti:nth-child(4n){
            width:5px;
            height:12px;
            animation-duration:2000ms
          }.mw-parser-output .confeti:nth-child(4n){
            position:relative;
            width:50px;
            height:5px;
            margin:20px 0;
            background:#457B9D;
            border-radius:60%/10%;
            color:white;
            text-align:center;
            text-indent:.1em
          }.mw-parser-output .confeti:nth-child(4n):before{
            content:"";position:absolute;
            top:10%;
            bottom:10%;
            right:-5%;
            left:-5%;
            background:inherit;
            border-radius:5%/50%
          }.mw-parser-output .confeti:nth-child(4n):after{
            content:"";position:absolute;
            bottom:0;
            right:-11px;
            width:50px;
            height:5px;
            background:#457B9D;
            border-radius:80%/150%
          }
  
          .mw-parser-output .hlist dl,.mw-parser-output .hlist ol,.mw-parser-output .hlist ul{margin:0;padding:0}.mw-parser-output .hlist dd,.mw-parser-output .hlist dt,.mw-parser-output .hlist li{margin:0;display:inline}.mw-parser-output .hlist.inline,.mw-parser-output .hlist.inline dl,.mw-parser-output .hlist.inline ol,.mw-parser-output .hlist.inline ul,.mw-parser-output .hlist dl dl,.mw-parser-output .hlist dl ol,.mw-parser-output .hlist dl ul,.mw-parser-output .hlist ol dl,.mw-parser-output .hlist ol ol,.mw-parser-output .hlist ol ul,.mw-parser-output .hlist ul dl,.mw-parser-output .hlist ul ol,.mw-parser-output .hlist ul ul{display:inline}.mw-parser-output .hlist .mw-empty-li{display:none}.mw-parser-output .hlist dt::after{content:": "}.mw-parser-output .hlist dd::after,.mw-parser-output .hlist li::after{content:" · ";font-weight:bold}.mw-parser-output .hlist dd:last-child::after,.mw-parser-output .hlist dt:last-child::after,.mw-parser-output .hlist li:last-child::after{content:none}.mw-parser-output .hlist dd dd:first-child::before,.mw-parser-output .hlist dd dt:first-child::before,.mw-parser-output .hlist dd li:first-child::before,.mw-parser-output .hlist dt dd:first-child::before,.mw-parser-output .hlist dt dt:first-child::before,.mw-parser-output .hlist dt li:first-child::before,.mw-parser-output .hlist li dd:first-child::before,.mw-parser-output .hlist li dt:first-child::before,.mw-parser-output .hlist li li:first-child::before{content:" (";font-weight:normal}.mw-parser-output .hlist dd dd:last-child::after,.mw-parser-output .hlist dd dt:last-child::after,.mw-parser-output .hlist dd li:last-child::after,.mw-parser-output .hlist dt dd:last-child::after,.mw-parser-output .hlist dt dt:last-child::after,.mw-parser-output .hlist dt li:last-child::after,.mw-parser-output .hlist li dd:last-child::after,.mw-parser-output .hlist li dt:last-child::after,.mw-parser-output .hlist li li:last-child::after{content:")";font-weight:normal}.mw-parser-output .hlist ol{counter-reset:listitem}.mw-parser-output .hlist ol>li{counter-increment:listitem}.mw-parser-output .hlist ol>li::before{content:" "counter(listitem)"\a0 "}.mw-parser-output .hlist dd ol>li:first-child::before,.mw-parser-output .hlist dt ol>li:first-child::before,.mw-parser-output .hlist li ol>li:first-child::before{content:" ("counter(listitem)"\a0 "}